/**
 * Vikram Guhilot
 */

 body{
  margin:0;
  background-color: antiquewhite;
}

.nav{
  display: flex;
  background: rgb(44, 143, 224);
  padding: 1.5em;
  justify-content: flex-start;
}

li{
  padding: 0 3em;
  color: rgb(31, 34, 31);;
}

h2{
  margin-top:3em;
  text-align: left;
  color: black;
}

.fa:hover{
  color: black;
}
.fa:after{
 color: black
}
.box{
  margin-left: 4em;
  margin-top:3em;
  background: rgba(236, 170, 48, 0.753);
}

.boxd{
  margin-top:1em;
  background: rgba(236, 170, 48, 0.753);
  height: 3em;
  width: 5em;
  
}

.box>p{
  margin-top: 3em;
  text-align: left;
}

.ima{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%; 
}

.row>.b1,.b2{
  height: 11em;
}

.b1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 80vh;
}

.dContainer > .dd{
  height: 2em;
}
.box > .dd{
  height: 2em;
}

.row{
  height: 24em;
}
.ab{
  height: 24em;
}

.iform{
  margin-top: 7em;
  height: 10em;
}

.cen{
  margin: 0 auto;
}

.btn{
  width:10em;
  margin-top:0.5em;
  margin-left:9em;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.flexContainer{
  display: flex;
  height: 7em;
  background-color:rgb(44, 143, 224);
  justify-content: center;
  align-items: center;
}

.item1{
padding:2em;
color: rgb(31, 34, 31);
}


.b2{
  object-fit: cover;
  width: 100%;
}



.Ccontainer{
  width: 25em;
  margin: 0 auto;
}

.bz{
  width:10em;
  margin-top:0.5em;
  margin-left:7.5em;
}

.img1{
  height:130px;
  width:450px;
}


@media all and (max-width:987px){

  .nav{
    display: flex;
    background: rgb(44, 143, 224);
    padding: 0.5em;
    justify-content: flex-start;
  }

  li{
    padding: 0 1.5em;
    color: rgb(31, 34, 31);;
  }

  h2{
    margin-top:0.9em;
    text-align: left;
    color: black;
  }
  
  .fa:hover{
    color: black;
  }
  .fa:after{
   color: black
  }

  .box{
    margin-left: 2em;
    margin-top:1em;
    background:rgba(236, 170, 48, 0.753);
  }

  .box>p{
    margin-top: 3em;
    text-align: left;
  }
  
  p{
    font-size: 0.9em;
  }

  .container{
    height: 88vh;
    
  }
  
  .dContainer > .dd{
    height: 1.5em;
    width: 20em;
   
  }
  .box > .dd{
    height: 1em;
  }

  .ima{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%; 
  }
  
  .row{
    height: 20em;
    width: 50em;
  }

  .ab{
    height: 12em;
  }
  
  .iform{
    margin-top: 3.5em;
    height: 5em;
  }
  
  .btn{
    width:5em;
    margin-top:0.25em;
    margin-left:4.5em;
  }

  .flexContainer{
    display: flex;
    height: 3.5em;
    background-color:rgb(44, 143, 224);
    justify-content: center;
    align-items: center;
  }
  
  .item1{
  padding:1em;
  color: rgb(4, 44, 4);
  }

   /*
    Bitcoin
  */
  
  .Rcontainer{
    width: 20em;
  }

 .box{
  
   width: 20em;
 }
 .fm1{
   width:18em;
 }
 .bpad{
   margin-left: 6.5em;
 }
 .z1, .s1{
   display: none;
 }

  /*
    Currency
  */

  .cf1{
    width: 25em;
  }

  .dd6, .dd7{
    width: 27em;
  }

  .bz{
    margin-left: 10.5em;
    margin-top: 2em;
  }

  .img1{
    height: 115px;
    width: 308px;
  }

  .b1{
    width: 20.8em;
  }

  /*
  country
  */
  .cntxt{
    width: 18em;
  }
  .cnbtn{
    width: 9em;
  }
  
}

/*
@media all and (max-width:987px){
 
}

*/


@media all and (max-width:768px){

  .nav{
    display: flex;
    background: rgb(44, 143, 224);
    padding: 0.75em;
    justify-content: flex-start;
  }

  li{
    padding: 0 1.5em;
    color: rgb(31, 34, 31);;
  }

  h2{
    margin-top:1.5em;
    text-align: left;
    color: black;
    font-size: 1em;
  }


  .box{
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 0.1em;
    background: rgba(236, 170, 48, 0.753)
  }
  .box>p{
    margin-top: 1.5em;
    text-align: left;
  }

  p{
    font-size: .75em;
  }

  .row>.b1,.b2{
    height: 5.5em;
  }

  .container{
    height: 44vh;
  }
  
  .dContainer > .dd{
    height: 1em;
  }
  .box > .dd{
    height: 1em;
  }

  .ima{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%; 
  }

  .img1{
    object-fit: cover;
    width: 100%;
    height: 95%;
  }
  
  .row{
    height: 12em;
  }

  .ab{
    height: 12em;
  }
  
  .iform{
    margin-top: 3.5em;
    height: 5em;
  }
  
  .btn{
    width:5em;
    margin-top:0.25em;
    margin-left:4.5em;
  }

  .flexContainer{
    display: flex;
    height: 3.5em;
    background-color:rgb(44, 143, 224);
    justify-content: center;
    align-items: center;
  }
  
  .item1{
  padding:1em;
  color: rgb(31, 34, 31);
  }
  .dd7 > .boxd{
    margin-top: 5em;
  }

  /*
    Home
  */




  /*
    Bitcoin
  */
  
  .Rcontainer{
    width: 20em;
  }

 .box{
  
   width: 20em;
 }
 .fm1{
   width:18em;
 }
 .bpad{
   margin-left: 6.5em;
 }
 .z1, .s1{
   display: none;
 }

  /*
    Currency
  */

  .cf1{
    width: 25em;
  }

  .dd6, .dd7{
    width: 27em;
  }

  .bz{
    margin-left: 10.5em;
    margin-top: 2em;
  }

  .img1{
    height: 80px;
    width: 308px;
  }

  .b1{
    width: 20.8em;
  }

  /*
  country
  */
  .cntxt{
    width: 18em;
  }
  .cnbtn{
    width: 9em;
  }
  
}

@media all and (max-width:575px){
  
  .nav{
    display: flex;
    background: rgb(44, 143, 224);
    padding: 0.5em;
    justify-content: center;
  }

  li{
    padding: 0 1.5em;
    color: rgb(31, 34, 31);;
  }

  h2{
    margin-top:0.75em;
    text-align: left;
    color: black;
    font-size: 0.75em;
  }

  .box{
    margin: 0.05em;
    background: rgba(236, 170, 48, 0.753);
    justify-content: center;
    align-items: center;
    width: 17.9em;
  }
 
  .row>.b1,.b2{
    height: 2.5em;
  }

  .container{
    height: 44vh;
  }
  
  .dContainer > .dd{
    height: 1em;
  }
  .box > .dd{
    height: 1em;
  }

  .ima{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%; 
  }

  .img1{
    width: 255px;
    height: 80px;
  }
  
  .row{
    height: 11em;
  }

  .ab{
    height: 12em;
  }
  
  .iform{
    margin-top: 3.5em;
    height: 5em;
  }
  
  .btn{
    width:5em;
    margin-top:0.25em;
    margin-left:4.5em;
  }

  .flexContainer{
    display: flex;
    height: 3.5em;
    background-color:rgb(44, 143, 224);
    justify-content: center;
    align-items: center;
  }
  
  .item1{
  padding:1em;
  color: rgb(31, 34, 31);
  }

  p{
    display: none;
  }

  .fm1{
    width:16em;
  }
  .bpad{
    margin-left: 5.5em;
  }

   /*
  country
  */
  .cntxt{
    width: 16em;
  }
  .cnbtn{
    width: 6.5em;
    margin-left: 4.5em;
  }

    /*
    Currency
  */

  .cf1{
    width: 25em;
   
  }

  .dd6, .dd7{
    width: 27em;
   
  }

  .bz{
    margin-left: 10em;
    margin-top: .3em;
  }
  .boxd{
   
    width: 27em;
  }
}

@media all and (max-width:503px){
  
  .nav{
    display: flex;
    background: rgb(44, 143, 224);
    padding: 0.5em;
    justify-content: center;
  }

  li{
    padding: 0 1.5em;
    color: rgb(31, 34, 31);;
  }

  .dd7 > .boxd{
    margin-top: 5em;
  }

  h2{
    margin-top:0.75em;
    text-align: left;
    color: black;
    font-size: 1em;
  }

  .box{
    margin: 1em;
    justify-content: center;
    align-items: center;
    background: rgba(236, 170, 48, 0.753);
  }
  .box>p{
    text-align: left;
  }

  p{
    font-size: .65em;
  }

  .row>.b1,.b2{
    height: 2.5em;
  }

  .container{
    height: 66vh;
  }
  .dContainer{
    height: 10em;
    width: 10em;
  }
  
  .dContainer > .dd{
    height: 5em;
  }
  .box > .dd{
    display: none;
    
  }

  .ima{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%; 
  }

  .img1{
    object-fit: cover;
    width: 100%;
    height: 95%;
  }
  
  .row{
    height: 11em;
  }

  .ab{
    height: 12em;
  }
  
  .iform{
    margin-top: 3.5em;
    height: 5em;
  }
  
  .btn{
    width:5em;
    margin-top:0.25em;
    margin-left:4.5em;
  }

  .flexContainer{
    display: flex;
    height: 3.5em;
    background-color:rgb(44, 143, 224);
    justify-content: center;
    align-items: center;
  }
  
  .item1{
  padding:1em;
  color: rgb(31, 34, 31);
  }

  .Rcontainer{
    height: 10em;
    width: 10em;
   
  }
  .z1{
    height: 10em;
    width: 10em;
  }

  .fm1{
    width: 10em;
  }

}

@media all and (max-width:360px){
  /*
  country
  */
  .cntxt{
    width: 11em;
  }
  .cnbtn{
    width: 5em;
    margin-left: 3em;
  }

    /*
    Currency
  */

  .cf1{
    width: 20em;
   
  }

  .dd6, .dd7{
    width: 27em;
   
  }

  .bz{
    margin-left: 7em;
    margin-top: .1em;
  }
  .boxd{
   
    width: 20em;
  }

  .box{
    margin: 0.05em;
    background: red;
    justify-content: center;
    align-items: center;
    width: 10em;
  }
/*
rgba(236, 170, 48, 0.753);
*/
  .img1{
    width: 200px;
    height: 60px;
  }

}


